<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../javascript/index.js"></script>
	<title>Protótipo Loja MTG</title>
</head>
<body>
	<div>
		<div class="home container-fluid">
			<div class="col-sm-6 left">
					<button type="button" class="btn btn-primary" onclick="returnHome()">Home</button>
			</div>
			<div class="col-sm-6 right">
				<button type="button" class="btn btn-primary" onclick="readUser()">Perfil</button>
			</div>
		</div>
		<div class="menu">
			<div class="item first-item"><h1>Cadastrar Compra</h1></div>
			<div class="item">Nome Carta:<br><input type="text" id="createPurchaseNomeCarta"></div>
			<div class="item">Quantidade:<br><input type="text" id="createPurchaseQuantidade"></div>
			<div class="item">Nome Destinatário:<br><input type="text" id="createPurchaseNomeDestinatario"></div>
			<div class="item">Endereço de entrega:<br><input type="text" id="createPurchaseEndereco"></div>
			<div class="item">Telefone de contato:<br><input type="text" id="createPurchaseContato"></div>
			<div class="item">
				<button type="button" class="btn btn-success" onclick="createPurchase()">Comprar</button>
			</div>
		</div>
	</div>
</body>
</html>