<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Protótipo Loja MTG</title>
	<link rel="stylesheet" type="text/css" href="..\css\index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="..\javascript\index.js"></script>
</head>
<body>
	<div class="body">
		<div class="menu">
			<div class="item  first-item"><h1>Cadastre-se</h1></div>
			
				<div class="item">Nome:<br><input type="text" id="signUpNome"></div>
				<div class="item">Email:<br><input type="text" id="signUpEmail"></div>
				<div class="item">Senha:<br><input type="password" id="signUpSenha"></div>
				<div class="item">Confirmar Senha:<br><input type="password" id="signUpSenhaConfirm"></div>
				<div class="item">
				<button type="button" class="btn btn-success" onclick="signUp()">Cadastrar</button>
				<!--<button type="button" class="btn btn-danger" onclick="signInFail()">Cadastrar</button>-->
			
		</div>
	</div>
</body>
</html>