<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../javascript/index.js"></script>
	<title>Protótipo Loja MTG</title>
</head>
<body>
	<div>
		<div class="home container-fluid">
			<div class="col-sm-6 left">
					<button type="button" class="btn btn-primary" onclick="returnHome()">Home</button>
			</div>
			<div class="col-sm-6 right">
				<button type="button" class="btn btn-primary" onclick="readUser()">Perfil</button>
			</div>
		</div>
		<!-- formulario de consulta de carta -->
		<div class="menu" id="divBuscaCarta">
			<div class="item first-item"><h1>Buscar Carta</h1></div>
			<div class="item">Nome:<br><input type="text" id="updateCardReadNome"></div>
			<div class="item">
				<button type="button" class="btn btn-success" onclick="updateCardRead(document.getElementById('updateCardReadNome').value)">Buscar</button>
				<button type="button" class="btn btn-success" onclick="updateCardRead('')">Listar Todas</button>
			</div>
		</div>
		<!-- div que disponibiliza a lista de cartas resultantes da busca -->
		<div class="menu" id="divListaCartaAlterar" hidden></div>
		<!-- div que disponibiliza os dados da carta selecionada para ser alterada -->
		<div class="menu" id="divAlterarDeletarCarta" hidden>
			<!-- O id ficar armazenado aqui para ser utilizado na alteração e deleção-->
			<input type="number" id="viewCartaUpdateId" hidden>
			<div class="item first-item"><h1>Atualizar Carta</h1></div>
			<div class="item">Nome:<br><input type="text" id="viewCartaUpdateNome"></div>
			<div class="item">Descrição:<br><input type="text" id="viewCartaUpdateDescricao"></div>
			<div class="item">Imagem:<br>
				<canvas class="cardImg" width="240" height="297" id="viewCartaUpdateImagem"></canvas><br>
				<input class="inputFile" type="file" onchange="alterarImagemUpdateInput()" id="updateCardImagem">
			</div>
			<div class="item">
				<button type="button" class="btn btn-success" onclick="updateCard()">Atualizar</button>
			</div>
			<div class="item">
				<button type="button" class="btn btn-danger" onclick="deleteCard()">Delete</button>
			</div>
		</div>
	</div>
</body>
</html>